@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --fondo: #241f25;
    --amarillo: #c9b458;
    --verde: #6d994a;
    --morado: #7a6acf;
    --verdeBoton: #6d994a;
    --verdeBotonSombra: #355918;
    --inputHabilitada: #34393d;
    --inputDeshabilitada: #252a2d;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var( --fondo );
}








































/* |=============================| HEADER |=============================| */
header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
header .titulo {
    position: absolute;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 0 auto 40px;
    color: white;
    font-size: 2.1em;
    height: 50px;
    z-index: -1;
}
header .hamburguesa {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
header .hamburguesa > span {
    height: 2px;
    background-color: white;
    width: 100%;
}






































/* |=============================| MENU |=============================| */
nav[ data-menu="fondo" ] {
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 55%;
}
nav[ data-menu="contenido" ] {
    padding: 10px;
}
nav {
    display: none;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    width: 75%;
    height: 100%;
    background-color: var( --inputDeshabilitada );
}
nav div.cerrar {
    display: flex;
    align-items: center;
    gap: 10px;
    gap: 10px;
    justify-content: flex-end;
}
nav div.cerrar > svg {
    width: 30px;
}
nav div.cerrar > svg > g > path {
    fill: white;
}
nav div.cerrar > p {
    color: white;
    display: none;
    margin: 0;
    text-transform: uppercase;
}
nav > ul {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 0;
}
nav > ul > li {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 16px 0;
}
nav > ul > li:first-of-type {
    border-top: 1px solid #333;
}
nav > ul > li > svg {
    fill: white;
    width: 20px;
    margin: 0 10px;
}
nav > ul > li > p {
    color: white;
    margin: 0;
}
















































/* |=============================| ESTRUCTURA |=============================| */
.caja {
    padding-bottom: 50px;
}
.caja .fila {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 300px;
    margin: 0 auto 8px;
    margin-left: 0;
}
.caja .fila input {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.1em;
    outline: none;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    caret-color: transparent;
}
.caja .fila.habilitada input {
    background-color: var( --inputHabilitada );
}
.caja .fila.deshabilitada input {
    background-color: var( --inputDeshabilitada );
}
.caja .fila.deshabilitada input.casi {
    background-color: var( --amarillo );
    color: black;
}
.caja .fila.deshabilitada input.exacto {
    background-color: var( --verde );
    color: white;
}
.caja .fila input:focus ,
.caja .fila input:focus-visible {
    outline: 1px solid var( --morado );
}
.caja .fila .status {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -55px;
    opacity: 55%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja .fila .status[ data-estado='ready' ] {
    background: var( --verdeBoton );
    opacity: 100%;
    box-shadow: 3px 3px 1px var( --verdeBotonSombra );
}
.caja .fila.deshabilitada .status {
    display: none;
}
.caja .fila .status > svg {
    fill: white;
    width: 25px;
}
.caja .fila .status > svg > path {
    background-color: white;
    fill: white;
}





































/* |=============================| MODAL |=============================| */
.elmodal[ data-tipo='fondo' ] ,
.elmodal[ data-tipo='contenido' ] {
    display: none;
}
.elmodal[ data-tipo='fondo' ] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 75%;
    z-index: 2;
}
.elmodal[ data-tipo='contenido' ] {
    background: var( --fondo );
    border: 1px solid var( --amarillo );
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    width: 90%;
    padding: 2%;
}
.elmodal[ data-tipo='contenido' ] > .cerrar {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.elmodal[ data-tipo='contenido' ] > .cerrar > svg > g > path {
    width: 30px;
    fill: white;
}
.elmodal[ data-tipo='contenido' ] > .contenido {
    color: white;
}
.elmodal[ data-tipo='contenido' ] > .contenido > .ejemplo {
    margin-top: 40px;
}
.elmodal[ data-tipo='contenido' ] > .contenido > .ejemplo > div {
    display: flex;
    gap: 10px;
}
.elmodal[ data-tipo='contenido' ] > .contenido > .ejemplo > div > p {
    border: 1px solid;
    background-color: var(--inputHabilitada);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.1em;
}
.elmodal[ data-tipo='contenido' ] > .contenido > .ejemplo > div > p.exacto {
    background-color: var( --verde );
    color: white;
}
.elmodal[ data-tipo='contenido' ] > .contenido > .ejemplo > div > p.casi {
    background-color: var( --amarillo );
    color: black;
}

