@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    background-color: #241f25;
}
.titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 3.1em;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 300px;
    margin: 0 auto 8px;
}
.fila input {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.1em;
    outline: none;
    border: none;
    color: white;
    background-color: #2a2f32;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    caret-color: transparent;
}
.fila input:focus ,
.fila input:focus-visible {
    outline: 1px solid #7a6acf;
}