@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --fondo: #241f25;
    --amarillo: #c9b458;
    --verde: #6d994a;
    --morado: #7a6acf;
    --verdeBoton: #6d994a;
    --verdeBotonSombra: #355918;
    --inputHabilitada: #34393d;
    --inputDeshabilitada: #252a2d;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var( --fondo );
}





















































































/* |=============================| HEADER |=============================| */
header .titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 0 auto 40px;
    color: white;
    font-size: 2.1em;
    height: 50px;
}
header .menu {
    height: 100%;
}
header .menu > span {
    height: 1px;
    background-color: white;
    width: 100%;
}




















































































.caja {
    padding-bottom: 50px;
}
.caja .fila {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 300px;
    margin: 0 auto 8px;
    margin-left: 0;
}
.caja .fila input {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.1em;
    outline: none;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    caret-color: transparent;
}
.caja .fila.habilitada input {
    background-color: var( --inputHabilitada );
}
.caja .fila.deshabilitada input {
    background-color: var( --inputDeshabilitada );
}
.caja .fila.deshabilitada input.casi {
    background-color: var( --amarillo );
    color: black;
}
.caja .fila.deshabilitada input.exacto {
    background-color: var( --verde );
    color: white;
}
.caja .fila input:focus ,
.caja .fila input:focus-visible {
    outline: 1px solid var( --morado );
}
.caja .fila .status {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -55px;
    opacity: 55%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja .fila .status[ data-estado='ready' ] {
    background: var( --verdeBoton );
    opacity: 100%;
    box-shadow: 3px 3px 1px var( --verdeBotonSombra );
}
.caja .fila.deshabilitada .status {
    display: none;
}
.caja .fila .status > svg {
    fill: white;
    width: 25px;
}
.caja .fila .status > svg > path {
    background-color: white;
    fill: white;
}