@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    background-color: #241f25;
}
.titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 3.1em;
}

.caja {
    padding-bottom: 50px;
}
.caja .fila {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 300px;
    margin: 0 auto 8px;
    margin-left: 40px;
}
.caja .fila input {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.1em;
    outline: none;
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    caret-color: transparent;
}
.caja .fila.habilitada input {
    background-color: #34393d;
}
.caja .fila.deshabilitada input {
    background-color: #252a2d;
}
.caja .fila input:focus ,
.caja .fila input:focus-visible {
    outline: 1px solid #7a6acf;
}
.caja .fila .status {
    background-color: #2a2f32;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -55px;
    opacity: 55%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja .fila .status[ data-estado='ready' ] {
    background: #6d994a;
    opacity: 100%;
    box-shadow: 3px 3px 1px #355918;
}
.caja .fila.deshabilitada .status {
    display: none;
}
.caja .fila .status > svg {
    fill: white;
    width: 25px;
}
.caja .fila .status > svg > path {
    background-color: white;
    fill: white;
}